html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
   /* font-family: Myriad, Helvetica, Arial, sans-serif; /*Rockwell, sans-serif; fanmap */
    overflow: hidden;
}

body.foam {
   background-color: #BFCED1; /*#CAD5D1 */
}

h1, h2, h3 {
    font-family: Rockwell, Helvetica, sans-serif;
}

a, a:active, a:visited {
    text-decoration: none;
    color: #528CE0;
}

a:active {
    text-decoration: underline;
}

.title {
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
}

.tundra .dijitButtonText {
    /*font-family: "Helvetica Neue", Arial, sans-serif;*/
    font-family: Verdana, Helvetica, Tahoma, Arial, clean, sans-serif;
    font-size: 12px;
}

#mapsContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* fix for strange UI breaking bug in dojo 1.6 */
}

#sidebar {
    /* height: 60px;*/
    height: 100%;
    width: 27px;
    background: url("../js/esri/pollmap/img/sidebar_light.png");
    /*margin: 2px;*/
    background-repeat: no-repeat;
}

.map {
    margin: 0;
    padding: 0;
    background-color: #333;
}

.foam .map {
    background: #BFCED1; /*#CAD5D1; /* #D7DED6 */
}

.rounded {
    border-radius: 10px;
    -moz-border-radius: 10px;
}

.inactiveText {
    text-align: center;
    margin: 75px auto;
    font-size: 24px;
    font-weight: bold;
}

.pane {
    float: left;
    /*slate: background-color: #111;*/ 
    border: 1px solid green;
    position: relative;
}

.pane-hover {
    border: 2px solid #ff0000 !important;
    cursor: pointer !important;
}

.pane-hover * {
    cursor: pointer;
}

.pane-title {
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 14px;
    color: #FFF;
	background-color: #000;
    background-color: rgba(0, 0, 0, 0.5); /*#EFEFEF*/;
    z-index: 50;
    padding: 4px;
    filter: alpha(opacity = 50);
}

.pane .dijitSlider {
    display: none;
}

#main-map {
    position: absolute;
}

.map .logo-sm {
    display: none; /*hide the esri logo on individual maps */
}

.pane .logo-med {
    display: none;
}

.logo-sm {
    position: absolute;
    bottom: 24px; /*5px;*/
    /*right: 5px;*/
    left: 29px;
    cursor: pointer;
    height: 36px;
    width: 65px;
    z-index: 49;
    background-image: url("http://serverapi.arcgisonline.com/jsapi/arcgis/2.2/images/map/logo-med.png");
}

.logo-sm:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.logo-sm, .logo-med {
    opacity: 0.6;
    filter: alpha(opacity = 50);
}

.map-dialog .dijitDialogTitleBar {
    opacity: 0.7;
    filter: alpha(opacity = 50);
}

.map-dialog-map {
    width: 100%;
    height: 100%;
}

.map-dialog .map .logo-med {
    left: 0;
    bottom: 0;
}

.map-dialog .zoom-button {
    position: absolute;
    text-align: center;
    z-index: 900;
    top: 257px;
    left: 3px;
    padding: 2px;
    font-family: verdana, sans-serif;
    font-size: 10px;
}

.map-dialog .zoom-button a {
    color: #ccc;
    padding: 1px;
    text-decoration: none;
    background: #666;
    background: rgba(50, 50, 50, 0.6);
}

.map-dialog .zoom-button a, .map-dialog .zoom-button a:hover, .map-dialog .zoom-button a:active {
    color: #FFF;
    text-decoration: none;
}

.map-dialog .zoom-button a:hover {
    text-decoration: underline;
}

.tundra .map-dialog .dijitDialogPaneContent {
    padding: 0;
    width: 100% !important;
    height: 100% !important;
}

.tundra .dijitDialogTitleBar {
    /*opacity: 0.25;
     filter:alpha(opacity=50);*/
    display: none !important; /* no title bars! */
}

.tundra .dijitDialog {
    border: none; /* default tundra dialog has a weird blue border */
}

.dijitDialogCloseIcon {
    z-index: 999; /* i forget */
}

#megaMapHeader {
    position: absolute;
    left: 5px;
    bottom: 5px;
    background-image: url(../js/esri/pollmap/img/header4.png);
    width: 514px;
    height: 43px;
    z-index: 999;
    /*background-color: rgba(0,0,0,0.2);*/
    background-repeat: no-repeat;
    opacity: 0.5;
    filter: alpha(opacity = 50);
    display: none;
}

#megaMapTitle {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 22px;
    color: #FFF;
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    padding: 5px;
    filter: alpha(opacity = 80);
    /* font-weight: bold;*/
}

#megaMapTitle p.subtitle, .pane-title p.subtitle {
    font-size: 10px;
}

#megaMapNode_zoom_slider {
    left: 15px !important;
    top: 52px !important;
}

.closeIcon {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 30px;
    height: 30px;
    background: transparent url("../js/esri/pollmap/img/close.png");
    z-index: 999;
}

.closeIcon:hover {
    background: transparent url("../js/esri/pollmap/img/close.png") 0 -30px;
    cursor: pointer;
}

.dijitDialogUnderlayWrapper {
    left: 30px !important; /* Set this to the width of the sidebar, makes sure it shows even if dialog is up */
}

.dijitDialogUnderlay {
    background: #AAA;
    opacity: 0.8;
    filter: alpha(opacity = 80);
}

.credits {
    position: absolute;
    z-index: 900;
    bottom: 6px;
    left: 32px;
    background: #333;
    background: rgba(0, 0, 0, 0.4);
    padding: 2px;
    opacity: 0.8;
    font-family: verdana, sans-serif;
    font-size: 12px;
    color: #999;
}

.credits .separator {
    font-weight: bold;
    color: #57951d;
}

.credits a, .credits a:hover, .credits a:active {
    color: #FFF;
    text-decoration: none;
}

.credits a:hover {
    text-decoration: underline;
}

/*--------- About Window -------------*/
.about-window {
    width: 600px;
    background-color: #333;
    padding: 10px 20px;
    color: #EEE;
}

#aboutWindow .dijitDialogPaneContent {
    background-color: #333;
}

.about-window .body-text {
    height: 600px;
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    padding-right: 5px; /* a little space between the text and the scroll bar*/
}

.about-window .body-text > h2 {
    margin-top: 0;
}

.about-window p {
    margin: 5px 0 5px;
}

.about-window h1 {
    font-size: 24px;
    padding: 4px;
    display: inline-block;
    margin: 10px 0 10px;
}

.about-window h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 10px 0 4px;
}

.about-window h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    font-weight: normal;
}

.about-window li {
    list-style: circle;
    margin: 5px 0;
}

.about-window ul {
    margin: 5px 0 10px;
}

.about-window dt {
    font-weight: bold;
    margin: 5px 0 5px;
}

.about-window dd {
    margin: 0 0 5px 30px;
}

.about-window dl {
    margin: 0 0 10px;
}

/* ----- social ---- */
.social-widgets .twitter-count-horizontal {
    margin-top: 1px;
}

.social-widgets .fb_iframe_widget {
    vertical-align: top;
}

.about-window .social-widgets {
    margin-bottom: 8px;
}

.social-widgets.vertical {
    position: absolute;
    left: 34px;
    bottom: 62px;
    width: 60px; /* force vertical layout */
    z-index: 50;
}

.social-widgets.vertical .fb_iframe_widget {
    margin-bottom: 5px
}

.mega-map .social-widgets {
    left: 3px;
    bottom: 39px;
}

.social-widgets .twitter-count-vertical {
    height: 62px;
}

/*------------------------------------*\
 IPHONE/MOBILE
 \*------------------------------------*/
@media screen and (max-device-width: 480px){
    body{
      -webkit-text-size-adjust:none;
      font-family:Helvetica, Arial, Verdana, sans-serif;
    }
    
    .dijitDialogCloseIcon, .dijitDialogCloseIcon-hover {
        width: 30px !important; /*increase the hit area*/
        height: 30px !important;
    }
}