.geocode-view {
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	opacity: 0.9;
	background-color: rgba(0,0,0,0.2);
	background-color: #222;
	text-align: center;
	display: inline-block;
}

.geocode-view input { /*location input*/
	width: 200px;
	margin-right: 3px;
}