.vote-window {
    min-height: 100px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    /* width: 375px;*/
}

.validating .vote-window { /*validating is added to the dialog itself*/
}

.vote-error-message, .vote-success-message {
    display: none;
    font-size: 18px;
    padding: 10px;
}

.vote-window.vote-success .vote-success-message { /* on successful vote, show the success message */
    display: block;
}

.vote-window.vote-success .vote-form, .vote-window.vote-error .vote-form, .vote-window.vote-success .vote-window-title, .vote-window.vote-error .vote-window-title {
    display: none;
}

.vote-window.vote-error .vote-error-message {
    display: block;
}

.vote-question-error-text {
    display: none;
    padding: 5px;
    font-size: 14px;
    background-color: #900;
}

.vote-question-error .vote-question-error-text {
    display: inline-block;
}

.vote-window.vote-question-error table {
    background-color: #900;
}

.vote-ok {
    display: block;
    margin: 10px auto;
}

/* The main styling for the vote window dialog itself */
.tundra .vote-window-dialog .dijitDialogPaneContent, .tundra .vote-window-dialog {
    background-color: #333;
    /*background-color: rgba(20, 20, 20, 0.5);*/
    color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 0;
    width: auto !important; /* I freaking hate dojo right now */
    /*  width: 375px; /* Set the width of the vote window here */
}

/*.foam .vote-window-dialog .dijitDialogPaneContent, .foam .vote-window-dialog {
    background-color:#DEDEDE; /* #BFCED1;*/
    /*background-color: rgba(191, 206, 209, 0.6);*/
 /*   color: #101010;
}*/

.tundra .vote-window-dialog {
    filter: alpha(opacity = 85);
    opacity: 0.85;
}

.vote-window .loader { /* loading image */
    background-image: url("../img/swirly_loader.gif");
    width: 24px;
    height: 24px;
    display: none;
    margin: auto;
    vertical-align: middle;
}

.vote-window.updating .loader { /* loading image while vote processing */
    display: inline-block;
}

/** VOTE WINDOW TITLE **/
.vote-window-title { /* the vote window title wrapper*/
    padding: 10px;
    padding-bottom: 3px;
    width: 29em; /*300px;*/
    margin: auto;
}

.vote-window-title p {
    margin: 0;
    padding: 0;
}

.vote-window-title .title {
    font-size: 14px;
    /* font-weight: bold;*/
}

.vote-window-title .prompt-title {
    font-size: 20px;
    display: block;
    padding-top: 5px;
    font-weight: bold; /* remove for fanmap if using Rockwell */
}

.vote-window-title .subtitle {
    font-size: 14px;
    line-height: 1.2em;
    margin: 0.5em 0;
    text-align: left;
}

/** VOTE INPUTS **/
.vote-window input, .vote-window .dijitButton {
    color: #000;
}

.vote-questions label {
    font-family: Verdana;
    padding: 5px;
    color: #FFF; /*#000;*/
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #222; /* #ccc;*/
    border: 2px solid transparent;
}

.vote-questions label:hover {
    /* background-color: #D8E8F9;*/
    cursor: pointer;
    text-decoration: underline;
}

.vote-questions label.radio_checked {
    /*background-color: #D1F899;*/
    border: 2px solid #57951D;
}

.crirHidden {
    position: absolute;
    left: -1000px;
}

.vote-questions {
    padding: 10px 0 0;
    margin: 0;
}

/** VOTE FORM **/
.vote-form {
}

.vote-form table {
    margin: auto; /* center-align the table in the window */
    padding: 5px;
}

.vote-form td {
    /*text-align: center;*/
    line-height: 1.5em;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 2px;
}

.vote-form td.question-label {
	text-align: right;
	height: 2em;
}

/** a subtitle row that appears above radio questions if included. A section-header of sorts **/
.vote-form tr.question-subtitle {
    height: 3em;
    font-size: 120%;
}
.vote-form td.first, .vote-form td.last {
    /* background-color: #CCC;*/
}

.vote-form td.first {
    /* text-align:right;*/
    /* padding-right: 10px;*/
}

.vote-form td.last {
    /*text-align:left;*/
}

.vote-form td.middle {
    padding: 0 5px;
}

.vote-form td.allocationLabel {
    /*text-align: right;*/
    padding-right: 10px;
}

.vote-form td.allocationRemaining {
    /*text-align: center;*/
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0;
    /*  font-size: 16px;*/
}

.vote-form .allocationRemaining, .vote-form .allocationRemainingLabel {
    font-size: 16px;
    font-weight: bold;
}

.vote-form #allocationRemainingText {
    padding: 2px 5px 2px 2px;
    /*font-size: 16px;*/
}

.vote-form #allocationRemainingText.negative {
    background-color: #F00;
}

/*.vote-form .allocationRemainingLabel {
 font-weight: bold;
 }*/
.vote-form .dijitTextBox {
 /*   width: 5em;*/
}

.vote-form .allocationInput { /* allocation inputs */
    width: 2em;
}

.vote-form .questionAutocompleteLabel {
	line-height: 10pt; /* better spacing */
}

/** location input **/
.vote-location.city .dijitTextBox {
    width: 20em;
}

.vote-location.postal .dijitTextBox {
    width: 5em;
}

.vote-location {
    padding: 5px 10px 10px;
}

.vote-location label {
    /*vertical-align: bottom; looks better when using ZIP input?*/
}

.vote-location .dijitTextBox .dijitValidationContainer {
    display: none !important; /* fixes a bug due to resizing the input?*/
}

/** vote buttons **/
.vote-submit {
    font-weight: bold;
}

.vote-cancel {
}

h2 {
    margin: 0;
    padding: 0;
}

p {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/*------------------------------------*\
 IPHONE
 \*------------------------------------*/
@media screen and (max-device-width: 480px){
--- mobile-only CSS here ---

.vote-window-dialog,.vote-window-dialog .dijitDialogPaneContent, .vote-window {
	width: 100% !important;
	height: auto !important;
	top: 0 !important;
	left: 0 !important;
    overflow: auto;
}


}
