<div class="about-window" title="About the FanMap&trade; Bracketography Edition">
  <h1 class="title">About the Earth Day PollMap</h1>
  <!-- uncomment and change to use social widgets
  <div class="social-widgets">
    <fb:like href="http://PATH/to/app" layout="button_count" show_faces="false" width="20" font="verdana" colorscheme="dark">
    </fb:like>
    <iframe class="twitter-count-horizontal" allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html?data-count=horizontal&data-via=mappingcenter" style="width:110px; height:20px;">
    </iframe>
  </div>
 -->
  <div class="body-text">
    <p>
      Help us observe Earth Day 2011 by letting us know what you think are the most important environmental challenges facing humankind.  Imagine you had $100 to spend to help protect the Earth. How would you invest your money? Current statistics and charts are updated as you look around the map. The map is something of an experiment: Will people from different countries have differing priorities? See if you can discern any regional patterns.
    </p>
    <h2>Basemap</h2>
    <p>
      This basemap provides a neutral backdrop for thematic maps like the PollMap. The map allows the key information to come to the foreground while the rest of the map provides simple geographic context. Administrative boundaries and major water features help create that context along with city boundaries and labels. The projection used in this version is Web Mercator Auxiliary Sphere.
    </p>
    <h2>Layers</h2>
    <p>
      Graduated circles are used to represent the current vote totals and trends by city. Color and size are assigned based on plurality vote in each city.
    </p>
    <h2>Application</h2>
    <p>
      This application is powered by <a href="http://www.esri.com/software/arcgis/arcgisserver/index.html" target="_blank">ArcGIS Server</a>. It uses the <a href="http://www.esri.com/software/arcgis/web-mapping/index.html" target="_blank">ArcGIS JavaScript API</a>
      as the client.  The FanMap template was the starting point for this version, with changes made to accommodate a new voting type (allocating dollars across several options) and new basemap.
    </p>
    <h2>Web Developers</h2>
    <p>
      <a href="http://www.esri.com/software/arcgis/web-mapping/index.html" target="_blank">Get started</a>
      with the ArcGIS Web Mapping APIs to create your own applications. 
    </p>
    <!--h2>Purpose</h2>
    <p>
    We envision the FanMap&trade; as a platform for location-centric polling of all kinds, from sporting events like you see here (or <a href="http://thebiggame.esri.com/superbowl" title="FanMap: Super Bowl Edition">here</a>) to issues of social, political, and economic relevance.
    </p>
    <h2>Technical Details</h2>
    <ul>
    <li>
    Projection: Modified <a href="http://help.arcgis.com/en/arcgisdesktop/10.0/help/index.html#//003r0000004r000000.htm">Winkel Tripel</a>
    </li>
    <li>
    Deploy Architecture: 4 Amazon Cloud machines: 2 for serving maps and the app, 1 Geodatabase machine, 1 Geoprocessing machine
    </li>
    <li>
    Software: <a href="http://www.esri.com/software/arcgis/arcgisserver/index.html" target="_blank">ArcGIS Server</a> 10 SP1, <a href="http://www.esri.com/software/arcgis/arcsde/index.html" target="_blank">ArcSDE</a>, <a href="http://www.esri.com/software/arcgis/arcinfo/index.html" target="_blank">ArcGIS Desktop 10</a> for map authoring
    </li>
    <li>
    Code: <a href="http://help.arcgis.com/en/webapi/javascript/arcgis/" target="_blank">ArcGIS API for JavaScript v2.2</a> (with Dojo v1.5)/HTML/CSS and Python for server-side <a href="http://resources.arcgis.com/content/geoprocessing/10.0/about" target="_blank">geoprocessing</a>
    </li>
    <li>
    Development time: 4 weeks for code (full JS rewrite/redesign of our <a href="http://thebiggame.esri.com/superbowl">Football app</a>
    + server-side code), 1 week for maps
    </li>
    </ul>
    <h2>Feedback</h2>
    <ul>
    <li>
    Email: <a class="email" href="mailto:mappingcenter_maps@esri.com?subject=FanMap%20Bracketography%20Edition%20Feedback" target="_blank">mappingcenter_maps@esri.com</a>
    </li>
    <li>
    Twitter: <a class="twitter" href="http://twitter.com/mappingcenter" target="_blank">@mappingcenter</a>
    </li>
    <li>
    Web: <a class="web" href="http://mappingcenter.esri.com" target="_blank">mappingcenter.esri.com</a>
    </li>
    </ul>
    <h3>By the numbers</h3>
    <dl>
    <dt>
    Hours of Basketball Watched
    </dt>
    <dd>
    0
    </dd>
    <dt>
    Lines of code
    </dt>
    <dd>
    2206 (JS/HTML/CSS) + 253 (Python) + 21 (.BAT) = 2480
    </dd>
    <dt>
    Geoprocessing Services
    </dt>
    <dd>
    2
    </dd>
    <dt>
    Map Services (surviving)
    </dt>
    <dd>
    19
    </dd>
    <dt>
    MXD/MSD's in memorium
    </dt>
    <dd>
    11+
    </dd>
    <dt>
    Max RAM usage for broken SOCs
    </dt>
    <dd>
    1.9GB x2 processes in 3s
    </dd>
    <dt>
    Number of times Alex cursed IE7
    </dt>
    <dd>
    IE7? What's that?
    </dd>
    <dt>
    Remote Desktop Hijackings
    </dt>
    <dd>
    17.5
    </dd>
    <dt>
    Size of smallest map dot
    </dt>
    <dd>
    3.56pts
    </dd>
    </dl>
    <h3>Team members</h3>
    <dl>
    <dt>
    Jim Herries (<a class="twitter" href="http://twitter.com/jherries" target="_blank">@jherries</a>)
    </dt>
    <dd>
    Project Whisperer and Data/Map Guru
    </dd>
    <dt>
    Alex Yule (<a href="http://twitter.com/yuletide" target="_blank">@yuletide</a>)
    </dt>
    <dd>
    Lead Developer/Architect (Web application and geoprocessing service development, UI design, de-GIS-ification)
    </dd>
    <dt>
    Mamata Akella
    </dt>
    <dd>
    Master of Minimalism (Basemap + Label + UI design)
    </dd>
    <dt>
    Kenny Ling
    </dt>
    <dd>
    Cloudification and Scaling Engineer (SysAdmin)
    </dd>
    <dt>
    Charlie Frye
    </dt>
    <dd>
    Dot Designographer (Who picked those dang colors, anyways?)
    </dd>
    <dt>
    Rajinder Nagi
    </dt>
    <dd>
    Project/Team Resuscitator, Python Tamer, SDE Master
    </dd>
    </dl>
    <h3>Special Thanks:</h3>
    <p>
    Praveen Ponnusamy (JavaScript Magician, saved us countless times!), Ian Sims (Load Testing), Damien Demaj (initial UI concept), Kelly Hutchins & Jeremy Bartley (JS API help), MappingCenter Team (testing & love), Steve Gourley(dojo help! -- <a href="http://twitter.com/SteveAGRC" target="_blank">@SteveAGRC</a>)
    </p>
    <p>
    </p-->
  </div>
  <div class="closeIcon" onclick="dijit.byId('aboutWindow').onCancel();">
  </div>
</div>
