<div class="summary-pane">
  <h1 dojoAttachPoint="summaryTitle">Voting in This Area</h1>
  <div id="summaryChart" class="summary-chart" dojoAttachPoint="summaryChartNode">
  </div>
  <div id="summaryChartlegend" style="width:50px;height:50px" dojoAttachPoint="legendNode" class="summary-legend">
  </div>
  <div id="summaryReport" class="summary-report" dojoAttachPoint="reportNode">
  </div>
  <!--a id="fullExtentBtn" class="full-extent-button" dojoAttachPoint="fullExtentButton">North America</a-->
  <div class="status">
  </div>
  <div dojotype="esri.pollmap.widgets.GeocodeView" id="geocodeView" class="geocode-view">
  </div>
  <!--div class="social-widgets">
    <fb:like href="http://pollmap.esri.com/earthday" layout="button_count" show_faces="false" width="20" font="verdana" colorscheme="dark">
    </fb:like>
    <iframe class="twitter-count-horizontal" allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html?data-count=horizontal&data-via=mappingcenter" style="width:110px; height:20px;">
    </iframe>
  </div-->
</div>
