<div class="vote-window">
  <div dojoAttachPoint="titleNode" class="vote-window-title">
    <!--p class="title">
      Welcome to the FanMap&trade; College Football Edition!
    </p-->
    <p class="prompt-title">
    	Which team do you support?
    </p>
    <p class="subtitle">
      <!--Help us observe Earth Day 2011 by letting us know what you think are the most important environmental challenges facing humankind.-->
    </p>
    <!--p class="subtitle">
    </p-->
  </div>
  <div class="vote-form" dojotype="dijit.form.Form" dojoAttachPoint="voteForm">
    <div class="vote-question-wrapper">
      <table class="vote-questions">
        <tbody dojoAttachPoint="questionsNode">
        </tbody>
      </table>
      <div class="vote-question-error-text" dojoAttachPoint="voteQuestionErrorText">
      </div>
    </div>
    <fieldset class="vote-location">
      <label dojoAttachPoint="locationLabelNode" for="locationInput"></label>
      <div id="locationInput" class="location-input" dojoAttachPoint="locationInputNode">
      </div>
    </fieldset>
    <div class="vote-buttons">
      <button dojoAttachPoint="voteButton" class="vote-submit" dojotype="dijit.form.Button" type="button" dojoAttachEvent="onClick:onSubmit">Vote!</button>
      <button class="vote-cancel" dojotype="dijit.form.Button" type="button" dojoattachevent="onClick:onDialogClose">Close</button>
      <div class="loader" dojoAttachPoint="loader">
      </div>
    </div>
  </div>
  <div class="vote-error-message">
    <h2>We're sorry :(</h2>
    <p>
      There has been an error submitting your vote at this time.
    </p>
    <p>
      Please try again later!
    </p>
    <button type="button" class="vote-ok" dojoattachevent="onclick:onDialogClose">OK!</button>
  </div>
  <div class="vote-success-message">
    <h2>Thanks for voting!</h2>
    <p>
      Please click a conference map to zoom to your area
    </p>
    <button type="button" class="vote-ok" dojoattachevent="onclick:onDialogClose">OK!</button>
  </div>
  <div class="dijitDialogCloseIcon" dojoattachevent="onclick:onDialogClose">
  </div>
</div>
